{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Edudemo{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div class="menu">
  <a class="active" href="/">Map</a>
  <a href="/quiz">Challenge</a>
  <a href="/library">Library</a>
  <a href="/edu/learn/">Courses</a>
  <input type="text" placeholder="Search.." style="float: right; font-size: 17px;">

        <a class="menu">
        {% if request.user.is_authenticated %}
            <a href="{% url "logout" %}">Sign out</a>
        {% else %}
            <a href="{% url "login" %}">Sign in</a>
        {% endif %}
    </a>
        </div>
</div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            {% block domready %}
            {% endblock %}
        });
    </script>
</body>
</html>
